@media screen and (max-width: 768px) {
    .profile-image img {
        max-width: 100%;
        background-color: aqua;
    }

    .main-menu ul {
        flex-direction: column;
        text-align: center;
    }
    
    .main-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }  
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    p {
        font-size: 16px;
    }
}
